services:
  mealie:
    image: ghcr.io/mealie-recipes/mealie:latest
    container_name: mealie
    restart: unless-stopped
    ports:
        - 9925:9000
    deploy:
      resources:
        limits:
          memory: 1000M
    volumes:
      - /home/neonvariant/docker/mealie:/app/data/
    environment:
      ALLOW_SIGNUP: "false"
      PUID: 1000
      PGID: 1000
      TZ: ${TZ}
      BASE_URL: https://mealie.${DOMAIN}
