services:
  app:
    image: jc21/nginx-proxy-manager:latest
    container_name: nginx-proxy-manager
    restart: unless-stopped
    ports:
      - 80:80
      - 81:81
      - 443:443
    volumes:
      - /home/neonvariant/docker/nginx-proxy-manager/data:/data
      - /home/neonvariant/docker/nginx-proxy-manager/letsencrypt:/etc/letsencrypt